In [117]:
import rooms.dbmanager as dbm
from datetime import datetime

import pandas as pd
from pony.orm import select, show

In [118]:
db = dbm.connect("rooms.sqlite")

In [119]:
select(rd.draw_year for rd in db.RoomDraw)[:]

[2016, 2013]

In [120]:
mathey_start_draw  = datetime.strptime("04/18/18 09:00 AM", "%m/%d/%y %H:%M %p")
my_mathey_drawtime = datetime.strptime("04/19/18 10:16 AM", "%m/%d/%y %H:%M %p")

upperclass_start_draw = datetime.strptime("04/30/18 09:00 AM", "%m/%d/%y %I:%M %p")
my_upperclass_drawtime = datetime.strptime("05/03/18 04:36 PM", "%m/%d/%y %I:%M %p")
my_upperclass_delta = my_upperclass_drawtime - upperclass_start_draw

In [121]:
def unix2timedelta(unix):
    days = unix // 86400
    unix = unix % 86400
    hours = unix // 3600
    unix = unix % 3600
    minutes = unix // 60
    unix = unix % 60
    seconds = unix
    return (days, hours, minutes, seconds)

def room2time(room):
    draws = room.drawings.select()[:]
    for rd in draws:
        if rd.draw_year == 2016:
            return rd.timefromstart
    return None

def compute_min(college="Upperclass"):
    times = select(
        rd.timefromstart 
        for rd in db.RoomDraw 
        if rd.draw_year == 2016 and rd.room.college == college
    )[:]
    return min(times)

def later_rooms(rooms, min_time_in_draw, my_timedelta_in_draw):
    times = [room2time(room) for room in rooms]
    rooms = [r for r, t in zip(rooms, times) if t is not None]
    times = [t for t in times if t is not None]
    adjusted = [t - min_time_in_draw for t in times]
    tds = [unix2timedelta(t) for t in adjusted]
    is_later = [td >= my_timedelta_in_draw for td in tds]
    return [r for r, l in zip(rooms, is_later) if l]

def tabular(rooms, min_time_in_draw):
    dicts = []
    for r in rooms: 
        d = r.to_dict()
        if room2time(r) is not None:
            d["delta"]  = unix2timedelta(room2time(r) - min_time_in_draw)
        dicts.append(d)
    return pd.DataFrame(dicts).sort_values("delta")

# Upperclass

In [126]:
query_rooms = select(r for r in db.Room if r.college == "Upperclass" and r.occupancy == 3)[:]
min_time = compute_min(college="Upperclass")
my_delta = unix2timedelta(my_upperclass_delta.total_seconds())
print("You draw %dd %dh %dm %ds after the start." % my_delta)
possibles = later_rooms(query_rooms, min_time, my_delta)

print("%d / %d" % (len(possibles), len(query_rooms)))

You draw 3d 7h 36m 0s after the start.
45 / 115

In [128]:
tabular(possibles, min_time)

,building,college,delta,floor,id,numrooms,occupancy,reserved,roomnum,sqft,subfree
38,Patton Hall,Upperclass,"(3, 8, 15, 53)",2,1306,3,3,False,063,430,False
33,Laughlin Hall,Upperclass,"(3, 8, 31, 36)",1,1133,3,3,False,616,409,False
7,Cuyler Hall,Upperclass,"(3, 8, 32, 4)",1,576,3,3,False,211,425,False
4,1903 Hall,Upperclass,"(4, 0, 5, 23)",2,112,3,3,False,321,393,False
5,1903 Hall,Upperclass,"(4, 0, 5, 25)",2,115,3,3,False,324,389,False
27,Henry Hall,Upperclass,"(4, 0, 19, 5)",3,1032,3,3,False,232,454,False
39,Patton Hall,Upperclass,"(4, 0, 25, 39)",1,1330,3,3,False,T03,419,False
11,Cuyler Hall,Upperclass,"(4, 0, 55, 15)",1,587,3,3,False,312,415,False
16,Foulke Hall,Upperclass,"(4, 1, 17, 17)",1,896,3,3,False,114,441,False
44,Wright Hall,Upperclass,"(4, 1, 39, 49)",4,1846,3,3,False,407,429,False
43,Wright Hall,Upperclass,"(4, 1, 40, 14)",2,1832,3,3,False,020,435,False
37,Lockhart Hall,Upperclass,"(4, 2, 5, 42)",1,1273,3,3,False,311,400,False
28,Henry Hall,Upperclass,"(4, 2, 19, 13)",3,1034,3,3,False,234,436,False
19,Foulke Hall,Upperclass,"(4, 2, 54, 14)",2,912,3,3,False,221,430,False
40,Pyne Hall,Upperclass,"(4, 3, 31, 51)",1,1377,3,3,False,314,407,False
9,Cuyler Hall,Upperclass,"(4, 3, 44, 53)",2,578,3,3,False,221,428,False
22,Foulke Hall,Upperclass,"(4, 3, 50, 55)",2,930,3,3,False,322,437,False
10,Cuyler Hall,Upperclass,"(4, 3, 55, 56)",2,579,3,3,False,222,415,False
14,Cuyler Hall,Upperclass,"(4, 4, 41, 29)",2,598,3,3,False,422,396,False
8,Cuyler Hall,Upperclass,"(4, 4, 42, 32)",1,577,3,3,False,212,409,False
6,1903 Hall,Upperclass,"(4, 4, 50, 7)",3,152,2,3,False,535,486,False
13,Cuyler Hall,Upperclass,"(4, 4, 50, 56)",1,594,3,3,False,412,399,False
17,Foulke Hall,Upperclass,"(4, 5, 24, 33)",2,897,3,3,False,121,414,False
12,Cuyler Hall,Upperclass,"(4, 5, 43, 30)",0,591,3,3,False,402,399,False
1,1901 Hall,Upperclass,"(4, 5, 45, 51)",1,13,3,3,False,118,427,False
2,1901 Hall,Upperclass,"(4, 6, 10, 31)",3,23,3,3,False,133,415,False
0,1901 Hall,Upperclass,"(4, 6, 23, 47)",0,4,3,3,False,104,404,False
21,Foulke Hall,Upperclass,"(4, 6, 56, 4)",1,921,3,3,False,311,414,False
41,Pyne Hall,Upperclass,"(4, 7, 6, 10)",1,1424,3,3,False,614,402,False
42,Pyne Hall,Upperclass,"(4, 7, 7, 34)",1,1453,3,3,False,718,389,False
20,Foulke Hall,Upperclass,"(4, 7, 30, 18)",0,917,3,3,False,304,431,False
35,Laughlin Hall,Upperclass,"(4, 7, 55, 59)",3,1143,3,3,False,631,444,False
25,Henry Hall,Upperclass,"(4, 8, 13, 39)",1,986,3,3,False,112,395,False
24,Henry Hall,Upperclass,"(4, 8, 14, 23)",1,985,3,3,False,111,388,False
15,Foulke Hall,Upperclass,"(4, 23, 55, 5)",1,893,3,3,False,111,401,False
18,Foulke Hall,Upperclass,"(5, 0, 27, 35)",3,901,3,3,False,131,400,False
30,Henry Hall,Upperclass,"(5, 0, 30, 39)",3,1048,3,3,False,333,402,False
26,Henry Hall,Upperclass,"(5, 0, 47, 33)",2,992,3,3,False,122,392,False
3,1901 Hall,Upperclass,"(5, 0, 49, 15)",1,28,3,3,False,212,378,False
23,Foulke Hall,Upperclass,"(5, 2, 13, 24)",2,934,3,3,False,326,386,False
36,Lockhart Hall,Upperclass,"(5, 2, 15, 16)",1,1253,3,3,False,113,377,False
29,Henry Hall,Upperclass,"(5, 2, 27, 30)",0,1038,2,3,False,302,436,False
34,Laughlin Hall,Upperclass,"(5, 2, 38, 50)",2,1140,3,3,False,625,395,False
32,Laughlin Hall,Upperclass,"(5, 3, 0, 25)",2,1122,2,3,False,521,440,False
31,Laughlin Hall,Upperclass,"(5, 3, 1, 17)",1,1119,2,3,False,511,436,False

In [78]:
show(possibles[0])

instance of Room
id|reserved|college   |building |floor|roomnum|sqft|occupancy|numrooms|subfree
--+--------+----------+---------+-----+-------+----+---------+--------+-------
9 |False   |Upperclass|1901 Hall|1    |114    |191 |1        |1       |False

# Mathey

In [ ]:
mathey_singles = select(r for r in db.Room)